.topDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
}

.container2 {
    display: flex;
    justify-content: space-around;

    /* width: 100%; */
    width: 90%;
    height: 100%;

    margin-left: 69px;
}

.dropdownContainer {
    display: flex;
    justify-content: right;
}

.dropdown {
    margin-top: 25px;
}

.btn-secondary {
    width: 206px;
}

.dropdown-menu {
    width: 206px;
}

#map {
    width: 70rem;
    height: 32rem;
    margin-top: 25px;
    border-radius: 10px;
}

.customoverlay {
    position:relative;
    bottom:55px;
    border-radius:6px;
    border: 1px solid #ccc;
    border-bottom:2px solid #ddd;
    float:left;
    background-color: white;
}