/*body 스타일*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*nav_bar 스타일*/
.topnav {
  background-color: aliceblue;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/*nav_bar link 스타일*/
.topnav a {
  float: left;
  color: rgb(14, 71, 129);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  width: 100px;
}

/*nav_bar link hover 스타일 변경 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*nav_bar Weave mainpage 링크 스타일*/
.topnav a.mainpage {
  background-color: rgb(14, 71, 129);
  color: white;
  width: 225px;
  margin-right: 20px;
}

.topnav a.setting {
  float: right;
  background-color: #4575c8;
  color: white;
}

/*사이드바 팀원 리스트*/
.sidenav {
  height: 100%;
  width: 247px; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: aliceblue; 
  overflow-x: hidden; 
  padding-top: 20px;
  margin-top: 52px;
  padding-left: 10px;
}

.sidenav ul li {
  list-style: none;
  color: rgb(14, 71, 129);
  margin-top: 40px;
  text-decoration: none;
  font-weight: bold;
  width: 100px;
  display: block;
}

#tripName {
  display: inline;
  font-size: 22px;
}

